@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.pink {
  color: #f73b76
}
.basicBtn {
  text-transform: uppercase;
  background-color: transparent;
  border: 5px solid #FFD630;
  padding: 20px;
  cursor: pointer;
}
.landing_main {
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-family: 'Raleway', sans-serif;
  color: white;
  .navigation {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 41;
    .navLeft {
      font-size: 20px;
      width: 80%;
      .title {
        font-size: 30px;
        margin-left: 20px;
      }
    }
    .navRight {
      width: 30%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 50px;
      button {
        border: 0;
        background-color: transparent;
        font-size: 22px;
        color: white;
        cursor: pointer;
      }
    }
  }
  .header {
    position: relative;
    z-index: 1;
    .titleWrapper {
      position: absolute;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .title {
        color: white;
        font-size: 140px;
        font-style: normal;
        font-weight: 700;
        line-height: 119px;
        letter-spacing: 0em;
        text-align: center;
        height: 50%;
        display: flex;
        align-items: flex-end;
      }
      .tagline {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 48px;
        height: 20%;
        // padding-top: 50px;
      }
      .playBtn {
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 15%;
        // margin-top: 170px;
      }
      .scroll {
        height: 10%;
        margin-top: 50px;
      }
    }
  }
  .gameInfo {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    .gameConcept {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border: 5px solid white;
        border-radius: 10px;
      }
    }
    .gameText {
      width: 50%;
      color: white;
      font-size: 40px;
      padding: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
   
  }
  .gameEngine {
    height: 100vh;
    width: 100vw;
    .engineWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      .engineImg {
        width: 40%;
        img {
          width: 100%;
        }
      }
      .engineDesc {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .enginePoints {
          margin: auto;
          max-width: 800px;
          font-size: 28px;
          opacity: 0.8;
        }
        .engineMore {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .gameFeats {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 50px;
    margin-top: 150px;
    .points {
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      height: 40%;
      .bullet {
        width: 33%;
        .title {
          text-transform: uppercase;
          font-size: 48px;
        }
        .desc {
          color: rgba(255, 255, 255, 0.8);
          line-height: 2.0rem;
          font-size: 21px;
          opacity: 0.8;
          margin-left: 30px;
          margin-right: 30px;
        }
      }
    }
    .frame {
      height: 60%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border: 5px solid white;
        border-radius: 10px;
        width: 80%;
        height: 80%;
        max-height: 300px;
        max-width: 800px;
        // margin-top: 50px;
      }
    }
  }
  .gameToken {
    height: 100vh;
    width: 100vw;
    .tokenWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      .tokenInfo {
        margin-top: 150px;
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 50px;
        .name {
          font-size: 48px;
        }
        .points {
          margin-top: 50px;
          font-size: 32px;
        }
      }
      .tokenDist {
        margin-right: 100px;
        height: 100%;
        width: 70%;
      }
    }
    
  }
  .gameSteps {
    width: 100vw;
    display: flex;
    flex-direction: column;
      
    .stepsWrapper {
      margin-top: 50px;
      display: flex;
      justify-content: flex-start;
      .stepsMenu {
        margin-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        height: 50%;
        .stepId {
          color: white;
          font-size: 72px;
          padding-left: 10px;
          cursor: pointer;
        }
        .selected {
          background-color: aqua;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          width: 70%;
        }
      }
      .stepsContent {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .box {
          margin-top: 50px;
          // border: 5px solid;
          border-width: 3px;
          border-style: solid;
          border-image: 
            linear-gradient(
              to bottom, 
              #FE1B5D, 
              rgba(0, 0, 0, 0)
            ) 1 100%;
          width: 70%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          .imgCircle {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: bisque;
            width: 200px;
            height: 200px;
          }
          .boxText {
            color: white;
            padding: 30px;
            font-size: 20px;
            text-align: center;
          }
        }
      }
    }
  }
  .contact {
      width: 100vw;
      height: 100%;
      .contactWrapper {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        // background-color: rgba($color: #f73b76, $alpha: 0.3);
        .contactIcon {
          background-color: #f73b76;
          cursor: pointer;
        }
      }
  }
}
.borderTitle {
  position: relative;
  .title {
    color: white;
    font-size: 65px;
    margin-left: 30%;
    padding-top: 5%;
    text-transform: uppercase;
  }
  img {
    position: absolute;
    top: 18%;
    width: 56%;
    height: 88%;
  }
  .imgRight {
    right: 0;
  }
}
.box {
    width: 100vw;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.titleBar {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    .title {
    color: white;
    font-size: 48px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    }
    .titleBg {
    height: 100%;
    display: flex;
    flex-grow: 1;
    background: linear-gradient(90deg, #FE1B5D 0.92%, rgba(254, 27, 93, 0) 102.44%);
    }
    .flip {
    transform: scaleX(-1);
    }
}
.snap-child-center {
  z-index: 10;
  scroll-snap-align: center;
  flex: none;
}

.snap-parent-y-mandatory {
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}