@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.body {
    width: 100vw;
    /* background-color: beige; */
    height: 100%;
    font-family: 'Raleway', sans-serif;
    display: flex;
}

.game-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    background-size: cover;
}
.loading-main {
    position: absolute;
    width: 75%;
    height: 100%;
    background-color: #FFD630;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progressBody {
    position: absolute;
    width: 75%;
    height: 100%;
    background-color: rgba(255,255,0,0.3);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 10;
    .progressPanel {
        margin-top: 100px;
        width: 500px;
        height: 500px;
        background-color: #000000;
        border-radius: 20px;
    }    
}
.resultBody {
    position: absolute;
    width: 75%;
    height: 100%;
    background-color: rgba(255,255,0,0.3);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 10;
    .resultPanel {
        margin-top: 100px;
        width: 500px;
        height: 500px;
        border-radius: 20px;
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .wonTop {
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .wonMsg {
                font-size: 28px;
                text-transform: uppercase;
            }
        }
        
        .wonGear {
            font-size: 28px;
            text-transform: uppercase;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10px;
        }
        .wonBox {
            width: 120px;
            height: 120px;
            border: 1px solid white;
            border-radius: 10px;
        }
    }
}

.fancyLoadContainer {
    @keyframes circle{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes circle1{
  0%{
    transform: rotate(120deg);
  }
  100%{
    transform: rotate(480deg);
  }
}
@keyframes circle2{
  0%{
    transform: rotate(240deg);
  }
  100%{
    transform: rotate(600deg);
  }
}
    position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
    .ring {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border: 4px solid transparent;
    border-radius: 50%;
    border-top: 4px solid #24ecff;
    }
    .ring::before{
  content: '';
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #24ecff;
  box-shadow: 
    0 0 0 5px #24ecff33,
    0 0 0 10px #24ecff22,
    0 0 0 20px #24ecff11,
    0 0 40px #24ecff,
    0 0 50px #24ecff;; 
}
.ring:nth-child(1){
  animation: circle 2s linear infinite;
}
.ring:nth-child(2){
  animation: circle2 2s linear infinite;
}
.ring:nth-child(3){
  position: absolute;
  top: -45px;
  animation: circle1 2s linear infinite;
}
p{
  overflow: hidden;
  position: absolute;
  color: #fff;
  font-size: 32px;
  font-family: consolas;
  bottom: -170px;
  letter-spacing: 4px;
}
}

.commonBtn {
    background-color: #E72D2D;
    font-style: normal;
    font-weight: 800;

    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
}
.main-top {
    height: 10%;
    width: 100%;
    // background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    .round {
        background: rgba(54, 22, 97, 0.4);
        border: 5px solid #F73B76;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 40px 10px 40px;

        font-size: 28px;
        text-transform: uppercase;
        margin-top: 20px;
    }
}
.main-body {
    height: 80%;
    width: 100%;
    // background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main-footer {
    height: 10%;
    width: 100%;
    background-color: #1A1C48;

    display: flex;
    justify-content: space-between;
    align-items: center;
    .logmsg {
        padding-left: 20px;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: center;
    }
    .footerBtn {
        height: 100%;
        width: 320px;
        line-height: 56px;
        font-size: 40px;
    }
}
.deckCard {
    width: 70%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 163.99%);
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    .cardImg {
        height: 90%;
        img {
            height: 100%;
            // width: 100%;
        }
    }
    .cardStats {
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 20px;

        font-size: 20px;
        .entry {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}
.chanceObj {
    width: 100%;
    height: 30%;
    // background-color: #76D084;
    position: relative;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    .chanceBar {
        margin-left: 15px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        position: relative;
        .chancePercent {
            font-size: 25px;
            position: absolute;
            top:11px; /* Every position is set to 0. */
            right: 0;
            bottom: 0;
            left: -180px;
            width: 100%;
        }
        .chanceTitle {
            position: absolute;
            font-size: 18px;
            top: -5px;
            left: 10px;
            color: black;
            width: 100%;
        }
        .chanceWrapper {
            position: absolute;
            // background-color: #298BFE;
            left: 65px;
            height: 20px;
            width: 80%;
            .chanceInd {
                background-color: #76D084;
                // width: 40%;
                height: 18px;
            }
            .red {
                background-color: #E72D2D !important;
            }
        }
    }
}
.right {
    transform: scaleX(-1);
}
.sideName {
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 20px;
    color: black;
}
.chosenAlien {
    padding: 10px;
    width: 100%;
    height: 67%;
    /* background-color: aqua; */

    display: flex;
    align-content: center;
    justify-content: center;
    .playerSide {
        width: 45%;
        height: 100%;
        .playerObj {
            width: 100%;
            height: 70%;
            // background-color: #298BFE;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .playerName {
                height: 10%;
            }
            .playerBody {
                height: 90%;
            }
        }
        
    }
    .divider {
        position: relative;
        img {
            height: 100%;
        }
        .vsText {
            position: absolute;
            top: 33%;
            font-weight: 800;

            font-size: 70px;
            color: #FF1B5C;
            text-align: center;
        }
    }
    .enemySide {
        width: 45%;
        height: 100%;
        .enemyObj {
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            padding-right: 20px;
        }
        .enemyName {
            height: 10%;
        }
        .enemyBody {
            height: 90%;
        }
    }
}
.chosenGears {
    // padding: 10px;
    width: 100%;
    height: 33%;
    /* background-color:antiquewhite; */

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: linear-gradient(180deg, #3A469B 0%, #5598C2 100%);
    border-top: 10px solid #3FADF9;

    .gearTitle {
        height: 20%;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        // line-height: 46px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        .subtitle {
            font-size: 12px;
            font-style: italic;
            color: black;
            // text-align: left;
        }
    }
    .gearCards {
        padding: 10px;
        width: 100%;
        height: 80%;
        /* background-color: blueviolet;s */

        display: flex;
        justify-content: space-around;
    }
}


.main-btn {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 91px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}
.leave-btn {
    border: 1px solid red;
    border-radius: 10px;
    background-color:#f17f7f;
    font-size: 20px;
    cursor: pointer;
}
.main-title {
    font-size: 65px;
    font-style: normal;
    font-weight: 800;
    line-height: 85px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    padding-top: 100px;
    padding-bottom: 40px;
}
.alien-cards {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cardObj {
    width: 120px;
    height: 150px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardBox {
    width: 100px;
    height: 110px;
    border-radius: 10px;
    background-color: #FFD630;
}
.cardTitle {
    color: black;
    font-size: 20px;
}
.icon2 {
    display: flex;
    justify-content: flex-end;
}
.side {
    padding: 10px;
    /* margin: auto; */

    height: 100%;
    width: 25%;

    background-color:black;

    display: flex;
    flex-direction: column;
}
.alien-obj {
    margin: 10px;
    width: 40%;
    height: 100%;
    /* background-color: #C4C4C4; */
    
    padding-left: 20px;

    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    color: black;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.alien-card {
    padding: 10px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: #FFD630;
}
.alien-stats {
    margin: 10px;
    width: 50%;
    height: 100%;
    /* background-color: #C4C4C4; */

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.stats-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}
.stats-card {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.reduceTxt {
    color: green;
    font-size: 18px;
}

.gear-cardObj {
    padding: 10px;
    /* background-color: brown; */
    width: 150px;
    height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.gear-card {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 1px dashed black;

    display: flex;
    justify-content: center;
    align-items: center;
}
.gear-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}
.screen {
    width: 100%;
    height: 100%;
    margin: 10px;
    /* background-color: #FFD630; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.result-title {
    font-size: 65px;
    font-style: normal;
    font-weight: 800;
    line-height: 85px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}
.lost-txt {
    color: red !important;
}
.won-txt {
    color:#298BFE;
}
.alien-info {
    margin-top: 50px;
    font-size: 30px;
    color: black;
}
.win-gear {
    height: 50%;
    /* background-color: #E72D2D; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gearCard {
    height: 250px;
    width: 250px;
    border: 1px dashed black;
    border-radius: 10px;
}
.next-btn {
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;

    background-color: #76D084;
    color: black;
    width: 450px;
    cursor: pointer;
}
.refresh {
    background-color: #FFD630;
    color: black;
}
