.profile {
    padding: 10px;
    width: auto;
    height: 20%;
    /* background-color:#C4C4C4; */
    border: 3px solid #F73B76;
    display: flex;
    align-items: center;
}
.profileImg img {
    border-radius: 50%;
    width: 100px;
    padding: 10px;
}
.profileInfo {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: aliceblue; */
}