.panelTitle {
    width: 100%;
    font-weight: 800;
    font-size: 26px;
    color: white;

    display: flex;
    justify-content: space-between;
    .count {
        width: 40px;
        height: 40px;
        border-radius: 150px;
        background-color:#FFD630;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title {
        display: flex;
        img {
            border-radius: 150px;
            background-color: #C4C4C4;
        }
    }
}
.panelSubTitle {
    padding-top: 10px;
    font-weight: 300;
    font-style: italic;
    font-size: 11px;
}

.apprObj {
    padding: 0px;
    width: auto;
    height: 25%;
    // background-color: #FFD630;
    .appColl {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 30px;
        .apprGearBox {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
.inventoryObj {
    padding: 0px;
    width: auto;
    height: 75%;
    margin-top: 20px;
    .invTitle {
        height: 10%;
    }
    .invColl {
        padding: 0px;
        height: 90%;
        overflow-y: scroll;
        .gearWrapper {
            height: 400px;
        }
        // background-color: black;
    }
}



.gearBox {
    padding: 5px;
    height: 150px;
    width: 100%;
    /* background-color:#C4C4C4; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #F73B76;
}
.gearMain {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.gearSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.gearImg {
    width: 120px;
    height: 120px;
    background-color:#833ae2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gearBtn {
    width: 100px;
    color: black;
    cursor: pointer;
}

.gearSvg {
    height: 100px;
    width: 100px;
}
.gearIcons {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}
.gIcon {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 25px;
    background-color:#fd8f5b;
    border: 1px solid #F73B76;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}