/* html,
body {
  padding: 0;
  margin: 0;

  color: white;
  background-color: hsl(0deg 0% 10%);

  font-family: "EB Garamond", serif, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.home {
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 20px;
  text-align: center;
}

h1 {
  font-size: 5rem;
  margin: 15px 0px 0px 0px;
  color: white;
}

.symbols {
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.subHeader {
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.description {
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.description p {
  color: #8e8e8e;
  font-size: 22px;
}

.warning {
  font-size: 20px !important;
}

.menu {
  margin: 0px auto;
  max-width: 800px;
  padding: 15px 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.menuLeft a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.menuRight ul li {
  display: inline-block;
  margin: 0 15px;
}

.menuRight ul li a {
  font-size: 18px;
  color: #838383;
  text-decoration: none;
}

.examplesTitle {
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  color: #8e8e8e;
  font-size: 22px;
}

.examples {
  max-width: 1400px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.firstGame {
  max-width: 1400px;
  margin: 0px auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.gameTitle {
  color: #fffafa;
  font-size: 25px;
}

.gameDesc {
  max-width: 1200px;
  color: #8e8e8e;
  font-size: 22px;
  margin: 0px auto;
} */
